<extend file="../basic/general.html"/>
<block name="body">
	<?php 
		$arr = array(4,5,7,7,7,10,11,12);
		$get = $arr[mt_rand(0,count($arr)-1)];
		$image = STATIC_PATH."images/wall_page/".$get.".jpg";
		echo '<div class="background" style="background-image:url('.$image.')"></div>';
	?>
	<div class="loginbox" >
		<div class="title">
			<div class="logo"><i class="icon-cloud"></i>{$Think.L.kod_name}</div>
			<div class='info'>——{$Think.L.kod_name_desc}</div>
		</div>
		<div class="form" style="padding: 10px 20px;">
			<h3>{$Think.L.php_env_check}</h3>
			<if condition="!$error">
				<div class='success'><h4>Successful!</h4>,{$Think.L.install_login},<br/>{$Think.L.install_user_default}</div><div class="guest"><a href="__PUBLIC__/index.php?user/loginFirst"> {$Think.L.login} </a></div>
			<else/>
				<div class="error"><h4>error:</h4>{$error}</div></div><div class="guest"><a href="__PUBLIC__/index.php?user/loginFirst">{$Think.L.php_env_error_ignore}</a></div>
			</if>
		</div>
	</div>
</block>
</html>