<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Basic Table</title>

    <include file="../Base/Public/head"/>
    <block name="style"></block>
</head>

<body class="sticky-header">
    <section>
        <!-- left side start-->
        <include file="../Base/Public/sider"/>

        <div class="main-content">

            <include file="../Base/Public/header" />

            <include file="../Base/Public/heading" />
            <div class="wrapper">
                <block name="wrapper"></block>
            </div>
        </div>
    </section>

    <include file="../Base/Public/tail" />

    <block name="script"></block>
</body>
</html>
